{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
        <h1 class="text-center text-3xl font-extrabold text-gray-900 mb-6">Register</h1>

        {{ form_start(registrationForm, {'attr': {'class': 'space-y-2'}}) }}

            <div >
                <label for="email" class="sr-only">Email address</label>
                {{ form_widget(registrationForm.email, {
                    'attr': {
                        'class': 'appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm',
                        'placeholder': 'Email address'
                    }
                }) }}
            </div>
            <div>
                <label for="username" class="sr-only">Username</label>
                {{ form_widget(registrationForm.username, {
                    'attr': {
                        'class': 'appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900  focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm',
                        'placeholder': 'username'
                    }
                }) }}
            </div>
            <div class="mb-4">
                <label for="plainPassword" class="sr-only">Password</label>
                {{ form_widget(registrationForm.plainPassword, {
                    'attr': {
                        'class': 'appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm',
                        'placeholder': 'Password'
                    }
                }) }}
            </div>

            <div class="mb-4">
                <label for="agreeTerms" class="sr-only">Agree to Terms</label>
                {{ form_widget(registrationForm.agreeTerms, {
                    'attr': {
                        'class': 'h-4 w-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500'
                    }
                }) }}
                <label for="agreeTerms" class="ml-2 text-sm text-gray-600">
                    I agree to the terms and conditions
                </label>
            </div>

            <div>
                <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Register
                </button>
            </div>

        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
